body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.desktop-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.task-list li {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  max-height: 2em;
}

#incomplete-task-list li::before {
  content: "📥";
}

#completed-task-list li::before {
  content: "✅";
}

li form {
  margin: 2rem 0 3rem;
}

#news-area ul {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

#news-area li {
  max-width: min-content;
}

#news-area img {
  max-width: 300px;
}

#weather-list ul li {
  /* display: flex; */
  /* gap: 1rem; */
  /* max-height: 1em; */
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

#weather-list {
  display: flex;
  justify-content: space-around;
}

.weather-item {
  display: flex;
  flex-direction: column;
}

.weather-item img {
  max-height: 100px;
}
