body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#incomplete-task-list li::before {
  content: "📥";
}

#completed-task-list li::before {
  content: "✅";
}

li form {
  margin: 2rem 0 3rem;
}

ul li {
  display: flex;
  gap: 1rem;
  max-height: 1em;
  align-items: center;
  margin: 1rem 0;
}

#weather-list {
  display: flex;
  justify-content: space-around;
}

.weather-item {
  display: flex;
  flex-direction: column;
}
